
/* Your CSS Code here. */body {
    margin: 0;
    padding: 0;
    background-color: #111;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding-top: 30px;
}

.moviePic {
    height: 400px;
    width: 280px;
    opacity: 0.9;
    border-radius: 10px;
    box-shadow: 0 0 20px #000;
}

.movieDetail {
    position: relative;
    top: 20px;
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    color: white;
    line-height: 1.6;
}
